.idea/*
.vagrant
.minio/
.cache
.coverage
node_modules/
env
/logs/
bin
obj
.vs
*.csproj.user
packages
build/*
debug/*
dist/*
snapshots/
.sass-cache/
score.xlsb
*.pyc
*.bak
*.dat
*.dir
*.backup
*.log
*.egg-info
*.pid
*.cfg
*.package
*.iso
*.zip
packer_cache/
*.vmdk
*.ovf
*.ova
docker/data/
google-key.json
celerybeat-schedule
